tests/pe_test/UHR_Rep1_ERCC-Mix1_Build37-ErccTranscripts-chr22.read1.fastq
tests/pe_test/UHR_Rep1_ERCC-Mix1_Build37-ErccTranscripts-chr22.read2.fastq
tests/pe_test/UHR_Rep2_ERCC-Mix1_Build37-ErccTranscripts-chr22.read1.fastq
tests/pe_test/UHR_Rep2_ERCC-Mix1_Build37-ErccTranscripts-chr22.read2.fastq
